/*
    Dummy Webshop - Inlämningsuppgift 3 - Javascript 2 - FE23
    By Kristoffer Bengtsson

    resultnav.css
    Styling for the controls to navigate product result pages.
*/
#pages-nav {
    display: none;
    background-color: rgb(40, 40, 40);
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.8rem;
    gap: 1rem;
    border-radius: 25px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 1.5rem auto;
}

#pages-nav.show {
    display: flex;
}

#pages-nav button {
    padding: 0.2rem 1rem;
    border-radius: 0;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    border: 0px;
    background-color: orange;
    cursor: pointer;
    outline: 0;
}

#pages-nav button:focus,
#pages-nav button:not(:disabled):hover {
    background-color: yellow;
    box-shadow: 0px 0px 15px yellow, 0px 0px 30px orange;
    outline: 0;
}

button#pages-nav-first {
    border-radius: 15px 0 0 15px;
}

button#pages-nav-prev {
    border-radius: 15px 0 0 15px;
}

button#pages-nav-next {
    border-radius: 0 15px 15px 0;
}

button#pages-nav-last {
    border-radius: 0 15px 15px 0;
}

button#pages-nav-goto {
    font-weight: 700;
}