/*
    Dummy Webshop - Inlämningsuppgift 3 - Javascript 2 - FE23
    By Kristoffer Bengtsson

    search.css
    Styling for the product search and category filter forms.
*/
#productfilters {
    display: flex;
    justify-content: center;
    align-items: center;
}

#categoryform,
#searchform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

#searchform > label {
    font-weight: 700;
}

#categoryform input,
#categoryform select,
#searchform input,
#searchform select {
    padding: 0.5rem 0.75rem;
    min-height: 2.2rem;
    outline: 0;
    margin: 0;
    border: 0;
}

#searchform input {
    border-radius: 15px 0px 0px 15px;
}

#categoryform button,
#searchform button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;
    margin: 0;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    background-color: orange;
    font-weight: 300;
    cursor: pointer;
    min-height: 2.2rem;
    outline: 0;
}

#categoryform button:focus,
#categoryform button:not(:disabled):hover,
#searchform button:focus,
#searchform button:not(:disabled):hover {
    background-color: yellow;
    box-shadow: 0px 0px 15px yellow, 0px 0px 30px orange;
    outline: 0;
}

#search-category {
    border-radius: 15px 0 0 15px;
}

#search-category,
#search-category option {
    text-transform: capitalize;
}