* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
    background-color: black;
    color: white;
    padding: 0 2rem;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 0;
    background-color: black;
    color: white;
    padding: 1rem;
}

header a,
footer a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

header a:hover,
header a:active,
footer a:hover,
footer a:active {
    color: yellow;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

#search-summary {
    text-align: center;
    margin: 0 0.5rem 1rem 0.5rem;
    font-size: 0.8em;
}

#productlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 3rem 1.5rem;
}

#productlist article {
    background-color: lightgray;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    font-size: 0.9em;
    display: grid;
    grid-template-areas: "category" "image" "info" "buyform";
    grid-template-rows: auto auto 1fr auto;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#productlist article .info-wrapper {
    grid-area: info;
    padding: 1.2rem;
}

#productlist article .info-wrapper > div {
    text-align: center;
}

#productlist article .info-wrapper .description {
    margin: 1.2rem 0;
    text-align: left;
}

.label {
    font-weight: 700;
}

#productlist article .stock.alert {
    color: darkred;

}

#productlist article .stock.alert::after {
    content: "nearly sold out!";
    background-color: darkred;
    color: white;
    padding: 0 0.4rem 0.2rem 0.4rem;
    margin-left: 0.5rem;
    border-radius: 10px;
}

#productlist article .price {
    font-size: 2.5em;
    text-align: right;
}

#productlist article .discountPercentage {
    text-align: right;
}

#productlist article .price::before {
    content: "$";
}

#productlist article .discountPercentage::after {
    content: "% off!";
}

#productlist article h3 {
    margin: 0;
    text-align: center;
}

#productlist article .brand {
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}

#productlist article .image-wrapper {
    grid-area: image;
    background-color: rgb(133, 133, 133);
    color: white;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#productlist article .category {
    grid-area: category;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
}

#productlist article img {
    max-width: 100%;
    display: block;
}

form.buy-product {
    grid-area: buyform;
    display: flex;
    justify-content: center;
}

form.buy-product button {
    border: 0px;
    color: black;
    background-color: rgb(117, 149, 209);
    border-radius: 0px 15px 0px 0px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
}

form.buy-product button:focus,
form.buy-product button:active,
form.buy-product button:hover {
    background-color: orange;
    box-shadow: 0 0 10px orange;
}

form.buy-product input {
    border: 0px;
    background-color: black;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 15px 0px 0px 0px;
    outline: 0;
}

#productlist article .rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9em;
}

#points-template {
    width: 0px;
    height: 0px;
}

.points {
    width: 20px;
    height: 20px;

}

.points:not(.scored) {
    fill: transparent;
    stroke: darkgray;
}

.points.scored {
    opacity: 1;
    fill: blueviolet;
}